:root {
  --color-main: #f34236;
  --color-dark: #111111;
  --color-background: #f3f3f3;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-main {
  background-color: var(--color-main);
  color: white;
}

.bg-dark {
  background-color: var(--color-dark);
  color: white;
}

.bg-light {
  background-color: var(--color-background);
}

.section-title {
  display: inline-block;
  position: relative;
  color: var(--color-dark);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  span {
    color: var(--color-main);
  }

  &::after {
    position: absolute;
    content: '';
    width: 1.7em;
    height: 0.08em;
    bottom: -0.3em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-dark);
  }

  &.section-title--left {
    text-align: left;
    text-transform: capitalize;

    &::after {
      left: 0;
      transform: none;
    }
  }
}
