.social-metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 2rem;
  list-style: none;
  font-size: 1.2rem;
  
  @media (min-width: 720px) {
   display: flex;
   justify-content: center;
    
  }
}

.metric {
  /* width: 7rem; */
  padding: 0.55rem;
  text-align: center;
}

.social-metrics .number {
  font-size: 3rem;
  color: var(--color-main);
  font-weight: bold;
}