.social-metrics {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  font-size: 1.2rem;
}

.metric {
  width: 7rem;
  padding: 0.55rem;
  text-align: center;
  border: 2px solid gray;
  border-radius: 0.2em;
}