.services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.service {
  padding: 40px 20px;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  box-shadow: -1px 1px 9px 1px rgba(128, 128, 128, 0.5);
  background-color: white;
  border-radius: 4px;
  border: 4px solid transparent;
  transition: all 0.3s ease-in-out;
}

.service .icon {
  color: var(--color-main);
  font-size: 3.5rem;
}

.service-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-dark);
}

.service-description {
  font-size: 1.1rem;
  line-height: 1.4em;
  color: gray;
}

.service:hover {
  border-color: var(--color-main);
  transform: translateY(-1rem);
  box-shadow: -1px 4px 9px 4px rgba(128, 128, 128, 0.5);
}
